body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 16px;
}

p{
    font-size: 14px;
}

nav{
    background-color: lightgray;
}

.wrapper{
    height: 500px;
    background-color:beige;
}

.left{
    width: 29%;
    height: 100%;
    /*background-color: aqua;*/
    float: left;
}

.right{
    width: 70%;
    height: 100%;
    background-color: rgb(202, 229, 230);
    float: right;
}

.navItem{
    background-color: darkgray;
    display: inline-block;
    padding: 20px;
    width: 60px;
    text-align: center;    
}

.profile{
    /*background-color: burlywood;*/
    height: 110px;
    text-align: center;
    padding:20px;
}

.profile p{
    margin-top: 8px;
}


.stats{
    /*background-color: cornflowerblue;*/
    height: 310px;
    padding: 20px;
}

.profile img{
    width: 80px;
    border-radius: 50%;
}

.stats h3{
    margin-top: 0;
}

.stats ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 28px;
    font-size: 14px;

}

.hero{ 
    height: 240px;
    /*background-color: darkkhaki;*/
    margin: 20px;
}

.hero img{
    width: 200px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.gallery{
    height: 180px;
    /*background-color: gainsboro;*/
    margin: 20px;
    text-align: center;
}

.gallery img{
    width: 30%;
    margin: 5px;
}